*{
    margin: 0%;
    box-sizing: border-box;
    transition: all .3s linear;
}
body{
    color: white;
    background-color: #4c4cc9;
    background-image: url(images/bg-desktop.svg);
}
.common{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    box-shadow: 0px 0px 20px 5px #cbcece50;
    background-color: rgba(31, 28, 53, 0.528);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr .5fr auto;
}
.container nav{
    align-items: flex-end;
    margin: 1rem;
}

.container main,.output-sec{
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-direction: row;
}
h1{
    margin: 1rem;
    text-align: center;
}
.inputs{
    color: white;
    font-weight: 900;
    outline: none;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 10px;
    padding: .6rem 2rem;
    margin-top: 10px;
}
.inputs::placeholder{
    color: black;
}
.btn-submit{
    outline: none;
    border: transparent;
    background-color:black;
    color: #4c4cc9;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    padding: .7rem 1.5rem;
    border-radius: 20px;
}
.btn-submit:hover{
    color: black;
    background-color: #4c4cc9;
}
.image-sec{
    align-self: flex-end;
    display: flex;
    justify-content : flex-end;
}
.image-sec img{ 
    width: 70%;
    height: 65%;
}
.output-sec{
    visibility: hidden;
    grid-template-columns: 1fr 1fr;
}
.output-sec .output-text{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-weight: 900;
    font-size: larger;
}
.gif-sec,.output-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gif-sec img{
    border-radius: 10px;
    width: 40%;
    height: 70%;
    border: 2px solid transparent;
    box-shadow: 1px 1px 15px 5px rgba(255, 255, 255, 0.452);
}
.page-links{
    font-weight: 900;
    font-size: large;
    text-decoration: none;
    color: black;
}
.page-links:hover{
    color: white;
}
footer{
    border-top: 2px solid white;
    margin-bottom: 10px;
    word-spacing: 2px;
}
footer ul{
    padding: 0%;
    list-style-type: none;
    flex-direction:row !important;
}
.social-li{

    padding:0 1rem;
    margin: 5px 0;
}
.social-li a{
    color: white;
}
.social-li a:hover{
    color: black;
}

@media screen and (max-width:750px) {

    .container main ,.output-sec{
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
    }
    .output-gif{
        width: 80%;
        height: 80%;
    }
}